/*@media screen and(max-width: 640px){
}*/

@media screen and (max-width:980px){
}

body{
	width: 100%;
	margin:auto;
	padding: 0;
}

img{
	
}

.articles{
	display: inline-block;
	width: 45%;	
}

.points{
	width: 3%;
	left: 80%;
	bottom: 20%;
}

.points:hover{
	color: blue;
}

i{
	margin-left: 50%;
}