/*@media screen and(max-width: 640px){
}*/

@media screen and (max-width:980px){
}

html, body{
	width: 100%;
	margin: 0;
	padding: 0;
}

#article1, #article2{
	display: inline-block;
	width: 47%;
	margin-left: 2%;
}

.fa{
	width: 3%;
	position: relative;
	left: 60%;
}

.fa:hover{
	color: orange;
}